@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

body {
  font-size: 18px;
  background-color: #5d707f;
  font-family: sans-serif;
}

.container {
  width: 1200px;
  margin: auto;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

/* ------------Navbar section -----------------*/

header {
  background-color: #a7a5c6;
  position: sticky;
  top: 0;
  box-shadow: 0 1px 2px 1px #5d707f;
  font-size: 20px;
  z-index: 1;
  height: 100%;
}

/* Styles the container for navigation elements */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 50px;
}

/* Styles the logo and links of the navigation bar*/

.logo-wrapper,
.links-wrapper {
  display: flex;
  align-items: center;
}

/* Styles the logo of navigation bar*/

.logo-wrapper .logo {
  color: #ff4d71;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Styles the logo image */

.logo img {
  height: 60%;
  margin-right: 5px;
  border-radius: 50%;
}

/* Styles the navigation items to align horizontally*/

.nav-items {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* Styles both the logo and the links */

.logo-wrapper a,
.links-wrapper a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

/* Adds hover effect to the links */

.links-wrapper a:hover {
  color: #ff4d71;
  cursor: pointer;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 720px) {
  .links-wrapper {
    display: none;
    position: relative;
  }
  .open {
    display: block;
  }
  .hamburger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: #808080;
    transition: 0.4s;
  }
  .open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .open .bar:nth-child(2) {
    opacity: 0;
  }
  .open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: 0;
    width: 250px;
    background-color: #a7a5c6;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 3px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
}

/* --------- Hero Section ---------------- */

.hero {
  background: radial-gradient(circle, #a7a5c6, #6d8a96, #8797b2);
}

.hero-content {
  margin-bottom: 2%;
}

.hero h2 {
  font-weight: bold;
  font-size: 32px;
}

.hero-media img {
  width: 250px;
  height: auto;
  margin: 10px auto;
  border-radius: 5px;
}

.social-icons {
  margin-top: 5%;
}

/* Styles individual social icon links */

.social-icons a {
  text-decoration: none;
  width: 18px;
  height: 18px;
  margin: 0 2px;
}

.social-icons i {
  font-size: 18px;
}

/* Hover effect for Social Icon Links */

.social-icons a:hover {
}

/* Active link color */

.social-icons a:active {
  color: blue;
  /* Change active link color to a nicer color */
}

/* --------- About --------- */

.about {
  background: white;
}

.about h1 {
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 42px;
  color: #ff4d71;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
}

.about-text {
  margin: 0 auto;
}

.about-text h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5%;
}

.about-text p {
  font-size: 24px;
  margin-bottom: 5%;
}

/* ------------ Experience --------- */

.experience {
  background: radial-gradient(circle, #a7a5c6, #6d8a96, #8797b2);
}

.experience h1 {
  margin: 5% 0;
  color: black;
  text-align: center;
  margin-bottom: 3%;
  font-weight: bold;
}

.experience-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 5%;
}

.experience-card {
  width: 250px;
  background-color: white;
  border-radius: 10px;
  padding: 2% 2%;
  box-shadow: rgba(1, 0, 0.5, 0.5) 0 0 5px;
}

.experience-content img {
  width: 80px;
  height: 80px;
  margin: 0px auto;
}

.experience-content h3 {
  font-weight: bold;
  margin-bottom: 2%;
}

.experience-content p {
  font-size: 18px;
  text-align: center;
}

.experience-tools p {
  font-weight: bold;
  font-style: italic;
  margin: 5% 0;
}

.experience-tools {
  list-style-type: none;
  padding: 10px;
}

.experience-tools li {
  display: block;
  font-size: 18px;
  margin-bottom: 2%;
}

/* ------------ Projects ------------- */

.projects {
  background-color: white;
  padding: 50px 0;
}

.projects h1 {
  color: #ff4d71;
  text-align: center;
  margin-bottom: 2%;
  font-weight: bold;
}

.projects p {
  margin-bottom: 5%;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.project-card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
  transition: 0s ease;
}

.background-image {
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: 0.3s ease;
}

.background-image.image1 {
  background-image: url("https://img.freepik.com/premium-vector/online-shopping-digital-technology-with-icon-blue-background-ecommerce-online-store-marketing_252172-219.jpg");
  background-size: cover;
  background-position: center;
}

.background-image.image2 {
  background-image: url("https://thumbs.dreamstime.com/b/medical-background-21578671.jpg?w=1400");
  background-size: cover;
  background-position: center;
}

.background-image.image3 {
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
}

.background-image.image4 {
  background-image: url("https://d3h2k7ug3o5pb3.cloudfront.net/image/2020-01-10/b7372130-3382-11ea-a700-a5080a3a032a.png");
  background-size: cover;
  background-position: center;
}

.background-image.image5 {
  background-image: url("https://img.freepik.com/premium-vector/creative-horizontal-website-screen-part-responsive-web-design-project-development-abstract-geometric-pattern-banner-layout-mock-up-corporate-landing-page-block-vector-illustration-template_181182-13902.jpg?w=2000");
  background-size: cover;
  background-position: center;
}

.background-image.image6 {
  background-image: url("https://img.freepik.com/premium-photo/responsive-design-e-magazine-website-devices-isolated-white-background-3d-rendering-mockup_72104-3724.jpg");
  background-size: cover;
  background-position: center;
}

.project-card:hover .background-image {
  opacity: 0.1;
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  transform: translateY(-100%);
  background-size: cover;
}

.project-card:hover .card-content {
  transform: translateY(0);
}

.project-card:hover {
  transition: 0.3s ease;
}

.card-content h3,
.card-content p {
  /* margin: 0; */
  opacity: 1;
}

/* ------------ Contact -----------*/

.contact {
  background: radial-gradient(circle, #a7a5c6, #6d8a96, #8797b2);
  color: black;
  align-items: center;
  padding: 50px 0;
}

.contact h1 {
  text-align: center;
  margin-bottom: 3%;
  font-weight: bold;
}

.contact-form {
  width: 90%;
  text-align: center;
}

.form-group {
  margin-bottom: 2%;
  text-align: left;
}

label {
  font-size: 24px;
  margin-bottom: 2%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 5px;
  font-size: 18px;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #66ced6;
}

.button {
  background-color: white;
  border: 2px solid #66ced6;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "EuropaNuova-Regular", sans-serif;
  cursor: pointer;
  border-radius: 30px;
}

.button:hover {
  background-color: #66ced6;
  color: white;
}

/* ------- Footer ---------*/

footer {
  background-color: #a7a5c6;
  padding: 10px;
}

footer p {
  text-align: center;
  font-size: 12px;
}
